---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import { z } from "zod";
import { createForm } from "simple:form";

export const subscribeForm = createForm({
  name: z.string(),
  email: z.string().email(),
  disclaimer: z.boolean()
});

const metadata = {
  title: 'CREEC — Carquinez Regional Environmental Education Center',
  ignoreTitleTemplate: true,
};

const res = await Astro.locals.form.getData(subscribeForm);

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:heart-dollar',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/who-we-are.jpg', alt: 'Who We Are' }}
  >
    <Fragment slot="title">
      Carquinez Regional Environmental Education Center
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">CREEC has been a trusted partner in environmental education for over two decades, encouraging and educating youth and communities to restore and conserve native ecosystems.
        </span>
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="CREEC Makes a Difference"
    title="Our Accomplishments"
    subtitle="CREEC, a nonprofit organization based on the Carquinez Strait in Crockett, California, helps local youth restore the shores of the Carquinez Strait so the birds, plants, and animals that make this a special place can thrive alongside the recreational needs of residents and visitors. One of the main ways CREEC achieves this is by working with local students who help maintain CREEC&#39;s greenhouse, grounds, and extensive collection of native plants."
    items={[
      {
        title: 'Educating Local Youth',
        description:
          'CREEC&#39;s Youth Program teaches students from nearby communities how to be environmental stewards who propagate and grow native plants.',
        icon: 'tabler:school',
      },
      {
        title: 'Growing Local Natives',
        description:
          'CREEC grows an impressive number of native California plant species, including many local natives. Our native plants are difficult to find elsewhere.',
        icon: 'tabler:plant',
      },
      {
        title: 'Tree Plantings',
        description:
          'CREEC volunteers have planted dozens of native trees and shrubs along the Carquinez Strait, providing food and habitat for local wildlife.',
        icon: 'tabler:trees',
      },
      {
        title: 'Fruitful Partnerships',
        description:
          'CREEC partners with local schools, organizations, and governmental agencies to plant gardens and restore wildlife habitat.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:heart-dollar',
      },
    ]}
   title=' Make a donation today!'
  />

  <ContactUs
    title="Join Our Mailing List"
    subtitle="Help us keep you up to date on CREEC events" 
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    disclaimer={{
      label:
        'By submitting this form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Get news about CREEC events and volunteer opportunities!"
  />
<form method = "POST">
  <label for="name">Name</label>
  <input id="name" {...subscribeForm.inputProps.name} />
  <label for="email">Email</label> 
  <input id="email" {...subscribeForm.inputProps.email} />
  {
    res?.fieldErrors?.email?.map((error) => 
      <p class ="error">{error}</p>
    ) 
  }
  <label for="disclaimer">By submitting this form, you acknowledge and agree to the collection of your personal information.</label>
  <input id="disclaimer" {...subscribeForm.inputProps.disclaimer} />
  {
    res?.fieldErrors?.disclaimer?.map((error) => 
      <p class="error">{error}</p>
    ) 
  }
  <button type="submit">Subscribe</button>

</form>
</Layout>
