---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'CREEC — Carquinez Regional Environmental Education Center',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/who-we-are.jpg', alt: 'Who We Are' }}
  >
    <Fragment slot="title">
      Carquinez Regional Environmental Education Center
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">CREEC has been a trusted partner in environmental education for over two decades, encouraging and educating youth and communities to restore and conserve native ecosystems.
        </span>
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="CREEC Makes a Difference"
    title="Our Accomplishments"
    subtitle="CREEC, a nonprofit organization based on the Carquinez Strait in Crockett, California, helps local youth restore the shores of the Carquinez Strait so the birds, plants, and animals that make this a special place can thrive alongside the recreational needs of residents and visitors. One of the main ways CREEC achieves this is by working with local students who help maintain CREEC&#39;s greenhouse, grounds, and extensive collection of native plants."
    items={[
      {
        title: 'Educating Local Youth',
        description:
          'CREEC&#39;s Youth Program teaches students from nearby communities how to be environmental stewards and how to propagate and grow native plants.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Growing Local Natives',
        description:
          'CREEC grows an impressive number of native California plant species, including many local natives. At CREEC, you can find native plants that are difficult to find elsewhere.',
        icon: 'tabler:components',
      },
      {
        title: 'Tree Plantings',
        description:
          'CREEC volunteers have planted dozens of native trees and shrubs along the Carquinez Strait, providing food and habitat for local wildlife.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Fruitful Partnerships',
        description:
          'CREEC partners with local schools, organizations, and governmental agencies to plant gardens and restore wildlife habitat.',
        icon: 'tabler:rocket',
      },
    ]}
  />



  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
</CallToAction>

    <!-- CallToAction Widget *********** -->

    <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join Our Mailing List',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
  </CallToAction>
</Layout>
